.popup {
    width: 100%; /* Default width for smaller screens */
    

}

.popup-header {
    padding: 10px;
    background: #49a09d;
    color: white;
   
    text-align: center;
    justify-content: center;
}

.popup-header h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1%;
}

.popup-body {
    padding: 5%;
}

.popup-body label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.popup-body .form-group {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    justify-content: space-between;
    gap: 10px; /* Add some gap between items */
}

.popup-body .form-group div,
.popup-body .form-group label,
.popup-body .form-group input,
.popup-body .form-group select {
    width: 100%; 
    flex: 1 1 calc(50% - 10px); 
}

.popup-body input,
.popup-body select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}



.popup-footer {
    padding: 5%;
    text-align: right;
}

.popup-footer .button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.popup-footer button {
    padding: 5px 10px;
    width: 30%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup-footer button:hover {
    background: #49a09d;
}







.checkbox-wrapper-17
{display: flex;}




  .checkbox-wrapper-17 input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .checkbox-wrapper-17 label {
    --size: 50px;

    cursor: pointer;
    width: var(--size);
    height: calc(var(--size) / 2);
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  .checkbox-wrapper-17 label:after {
    content: '';
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: calc(50% - 5%);
    height: calc(100% - 11%);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  .checkbox-wrapper-17 input:checked + label {
    background: #bada55;
  }

  .checkbox-wrapper-17 input:checked + label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
  }

  .checkbox-wrapper-17 label:active:after {
    width: 55%;
  }
