<div id="sidebar">
    <div>
    <img src="assets/logo.png" id="imglogo">
    <ul class="list-group">
    <li><a routerLink="/main/reservation" routerLinkActive="active" class="link"><i class="fas fa-soccer-ball"></i> Reserver</a></li>
    <li><a routerLink="/main/mesres" routerLinkActive="active" class="link"> <i class="fas fa-clipboard-list"></i> Mes Resevations</a></li>
    <li><a routerLink="/main/profil" routerLinkActive="active" class="link"><i class="fas fa-user"></i> Mon Compte</a></li>
    <li><a class="link" (click)="Logout()"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
</ul>
</div>
</div>