.over700{
  display: flex;
}

.under700{
  display: none;
}
  
  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #navbar ul li {
    margin: 10% 10%;  
      font-size: large;
    font-weight: bold;
  }
  
  .link {
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
  }
  
  #navbar ul li a:hover {
    color: yellow;
  }
  
  #navbar img {
    display: block;
    margin: 20px auto; /* Center the image horizontally and add space around it */
    max-width: 100px; /* Limit the image width to 80% of the container */
    height: auto;
  }

  .active{
    color: yellow;
  }

  @media only screen and (max-width: 700px) {
    .over700{
      display: none;
    }
  
  
  .under700{
    display: flex;
  }
    #navbar {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background-color: #4EA685;
      padding-top: 0;
      padding-left: 0;
      height:10%;
      width:100%;
    }
    
    #navbar ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;  
      align-items: center;
    }
    
    #navbar ul li {
      margin-right : 5%;  
      margin-left: 5%;

      font-size:  15px;
      width: 50px;;
      font-weight: bold;
    }
    
    .link {
      text-decoration: none;
      cursor: pointer;
      color: aliceblue;
    }
    
    #navbar ul li a:hover {
      color: yellow;
    }
    
    #navbar img {
      max-width: 50px;
      height: auto;
    }
    
    .active {
      color: yellow;
    }
  }
  