.container-res {
    background-image: url(/assets/cover.jpg);
	background-repeat: no-repeat;
    background-size:cover;
    
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;  
    padding-top:5%;
    padding-left:5%;
    padding-right: 25%;
    box-sizing: border-box;
    margin-right: 0;

}

h1{
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
}



.card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-around; /* Align cards to the start of the container */
    margin-top: 5%;

    
}





    .card {
        width: 22%; /* Set the width of each card to 22% of the container */
        max-width: calc(22% - 20px); /* Set a maximum width for each card with margin compensation */
        min-width: 150px;
        height: 40vw; /* Set the height of each card relative to viewport width */
        max-height: 240px; /* Set a maximum height for each card */
        margin: 0 10px 20px 10px; /* Add margin between cards */
        /* Adjust margin values as needed for spacing */
    }


.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front img,
.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f9f9f9;
}

.details {
    text-align: center;
    padding: 1%; /* Reduce padding */
}

.terrain-name {
    position: absolute;
    bottom: 5px; /* Reduce distance from bottom */
    left: 5px; /* Reduce distance from left */
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 14px; /* Adjust font size */
}

.details h3 {
    font-size: 16px; /* Adjust font size */
}

.details p {
    font-size: 14px; /* Adjust font size */
    margin-top: 5px; /* Add margin between details */
}

.details span {
    font-size: 14px; /* Adjust font size */
    margin-top: 5px; /* Add margin between details */
}



.title {
    width: 100%;
    font-size: 40px;
    color: #ffffea;
    text-align: center;
    font-weight: bold;
}



@media only screen and (max-width: 700px) {
    .container-res {
        background-image: url(/assets/cover.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;  
        scrollbar-width: none;
        padding-top:5%;
        padding-left:30%;
        padding-right: 25%;
        box-sizing: border-box;
        margin-right: 0;
    
    }
}








